{% extends 'base.html' %} {%block contenido%}

<div class="row">
    <div class="col-md-10 mx-auto">
        <div class="card card-citas">
            <div class="card-title">
                <h3>Información de la cita numero 10</h3>
            </div>
            {%for cita in citas%}
            <div class="row">
                <div class="col-md-7" style="padding:2%">
                    <div class="row">
                        <div class="col-md-6"><label>Moto: </label></div>
                        <div class="col-md-6"><label>Fecha entrada: </label></div>
                    </div>
                    <br>
                    <div class="row">
                        <div class="col-md-6"><label>Placa: </label></div>
                        <div class="col-md-6"><label>Hora entrada: </label></div>
                    </div>
                </div>
                <div class="col-md-5" style="padding:2%">
                    <label>Detalles: </label>
                    <textarea class="form-control" aria-label="With textarea" style="border-color: white;">Detalles de la cita</textarea>
                </div>
            </div>
            {%endfor%}
        </div>
    </div>
</div>

{%endblock%}