{% extends 'base.html' %}
{%block contenido%}

<div class="col-md-4 mx-auto">
    <div class="card card-center" style="margin-top: 7% !important; padding-bottom: 5%;">
        {%if messages%}
        <div class="row">
            <div class="col-md-8 mx-auto">
                {%for mensage in messages%}
                <div class="alert alert-danger" role="alert">
                    {{mensage}}
                  </div>
                {%endfor%}
            </div>
        </div>
        {%endif%}        
        <div class="card-title text-center">Titulo</div>
        <br>
        <form action='crearCuentaPeticion' method="post" enctype="multipart/form-data">
            {%csrf_token%}

        <div class="col-md-6 mx-auto">
            <div class="row">
                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
            </div>
            <div class="row">
                <input type="text" id="nombre" name="nombre" class="form-control" autocomplete="off">
            </div>
            <div class="row">
                <label for="exampleFormControlInput1" class="form-label">Correo electrónico</label>
            </div>
            <div class="row">
                <input type="email" id="email" name="email" class="form-control" autocomplete="off" />
            </div>
            <br>
            <div class="row">
                <label for="exampleFormControlInput1" class="form-label">Contraseña</label>
            </div>
            <div class="row">
                <input type="password" id="contrasena" name="contrasena" class="form-control" autocomplete="off">
            </div>
            <br>
            <div class="row">
                <button type="submit" class="btn btn-success">Crear</button>
            </div>
          </div>
        </form>

    </div>
</div>
{%endblock%}